- name: "Configure settings in '{{ security_hardening_freebsd_rc_conf_filepath }}'"
  ansible.builtin.include_tasks: rc_conf.yml

- name: "Configure settings in '{{ security_hardening_sysctl_conf_path }}'"
  ansible.builtin.include_tasks: sysctl_conf.yml

- name: "Configure settings in '{{ security_hardening_loader_conf_path }}'"
  ansible.builtin.include_tasks: loader_conf.yml

