- name: "Set all security hardening options in '{{ security_hardening_freebsd_rc_conf_filepath }}'"
  community.general.sysrc:
    path: "{{ security_hardening_freebsd_rc_conf_filepath }}"
    name: "{{ setting.nm }}"
    value: "{{ setting.val if setting.st else omit }}"
    state: "{{ 'present' if setting.st else 'absent' }}"
  loop:
    - { nm: "clear_tmp_enable", st: "{{ security_hardening_clear_tmp_dir_on_boot }}",
        val: "{{ 'YES' if security_hardening_clear_tmp_dir_on_boot else 'NO' }}" }
    - { nm: "syslogd_flags", st: "{{ security_hardening_close_syslogd_network_socket }}",
        val: "{{ '-ss' if security_hardening_close_syslogd_network_socket else '' }}" }
  loop_control:
    loop_var: setting
  register: loop_results
  become: true
  become_user: root

- name: "'{{ security_hardening_freebsd_rc_conf_filepath }}' changed, so set 'security_hardening_requests_reboot' to 'true'"
  ansible.builtin.set_fact:
    security_hardening_requests_reboot: true
  when: loop_results.changed

