- name: "Set all idempotent security hardening options in '{{ security_hardening_sysctl_conf_path }}'"
  ansible.posix.sysctl:
    sysctl_file: "{{ security_hardening_sysctl_conf_path }}"
    name: "{{ setting.nm }}"
    value: "{{ setting.val }}"
    state: "{{ 'present' if setting.st else 'absent' }}"
  loop:
    - { nm: "security.bsd.see_other_uids", st: "{{ security_hardening_restrict_process_uid_visbility }}",
        val: "{{ '0' if security_hardening_restrict_process_uid_visbility else '1' }}" }
    - { nm: "security.bsd.see_other_gids", st: "{{ security_hardening_restrict_process_gid_visbility }}",
        val: "{{ '0' if security_hardening_restrict_process_gid_visbility else '1' }}" }
    - { nm: "security.bsd.see_jail_proc", st: "{{ security_hardening_restrict_process_jail_visbility }}",
        val: "{{ '0' if security_hardening_restrict_process_jail_visbility else '1' }}" }
    - { nm: "security.bsd.unprivileged_read_msgbuf", st: "{{ security_hardening_restrict_unpriv_dmesg }}",
        val: "{{ '0' if security_hardening_restrict_unpriv_dmesg else '1' }}" }
    - { nm: "security.bsd.unprivileged_proc_debug", st: "{{ security_hardening_restrict_unpriv_dtrace }}",
        val: "{{ '0' if security_hardening_restrict_unpriv_dtrace else '1' }}" }
  loop_control:
    loop_var: setting
  register: loop_results
  become: true
  become_user: root

- name: "'{{ security_hardening_sysctl_conf_path }}' changed, so set 'security_hardening_requests_reboot' to 'true'"
  ansible.builtin.set_fact:
    security_hardening_requests_reboot: true
  when: loop_results.changed

- name: "Set all 'activating' security hardening options in '{{ security_hardening_sysctl_conf_path }}'"
  ansible.posix.sysctl:
    sysctl_file: "{{ security_hardening_sysctl_conf_path }}"
    name: "{{ setting.nm }}"
    value: "{{ setting.val }}"
    state: "{{ 'absent' if setting.val is none else 'present' }}"
  loop:
    - { nm: "kern.randompid", val: "{{ '1' if security_hardening_randomize_pid_allocation else null }}" }
  loop_control:
    loop_var: setting
  changed_when: false
  become: true
  become_user: root

